/* General */
.hide { display: none; }
.visible { visibility: visible; }
.invisible { visibility: none; }
.dotted-bottom {
	border-bottom: 1px dotted #ccc !important;
	padding-bottom: 10px !important;
}

/* Containers */
#dynamic-description-container, #dynamic-content-container {
	display: flex;
	flex-direction: column;
}
#dynamic-content-container {
	z-index: 1;
	cursor: ew-resize;
}
#dynamic-description-container {
	position: absolute;
	z-index: 2;
	pointer-events: none;
}
#timeline-tool-nav-container {
	position: absolute;
	z-index: 3;
	background-color: #FFF;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
}

/* Navigation */
#timeline-tool-nav {
	/* This is for borders eating off on the width calculation */
	margin-left: 9px !important;
	margin-right: 9px !important;
}

/* Description Box - left side of the timeline tool */
.description-box {
	width: 250px !important;
	height: 50px !important;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	pointer-events: auto;
}
.description {
	position: relative;
	width: 240px !important;
	height: 40px;
	width: 100%;
	cursor: pointer;
	text-decoration: underline;
	margin: 0px auto !important;
	padding: 5px;
	color: #295376;
}
.TransformationTimeline {
	background-color: #FFFFFF;
}

.BP2020 {
	background-color: #D1E8FF;
}

.impact-statement {
	height: 19px;
	float: left;
	border-top : 1px solid #CCC;
	margin: 0px 0px 0px 10px !important;
}

.impact-statement p {
	margin: 0px !important;
	float: left;
}

.impact-statement a {
	position: absolute;
	right: 0;
	pointer-events: auto;
}

.hide-button, .show-button {
	height: 19px;
	margin-right: 10px;
}

/* Bar & its contents - right side of the timeline tool */
.bar {
	height: 50px !important;
	border-left: 1px dotted #CCC;
	border-right: 1px dotted #CCC;
	border-bottom: 1px dotted #CCC;
}
.duration {
	background-color: #EEE;
	margin-top: 5px;
	height: 38px;
	border: 1px solid #CCC;
}


/* jQuery UI Dialog */
#dialog, .ui-dialog, .ui-icon, .ui-button  {
	background-color: #ffffff !important;
}

/* Not organized yet */
a:hover {
	cursor: pointer;
}
.margin-top-bottom-5px {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

.impact-statement-box {
	width: 10px;
	height: 10px;
	border: 1px solid #000000;
	margin-right: 5px;
	margin-top: 4px;
	float: left;
}

#nav-go-left-button:hover, #nav-go-right-button:hover {
	cursor: pointer;
	color: red;
}

div[class$="quarter"] {
	float: left;
	font-weight: bold;
	height: 18px;
	-ms-user-select: none; /* IE10+ */
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
}

.initiative {
	float: left;
	clear: both;
	width: 250px !important;
	height: 50px !important;
	background-color: #FFF;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
}

.initiative:last-child {
	border-bottom: 1px solid #CCC;
}

.initiative a {
	margin: 5px;
	display: block;
}

.timeline-row {
	border-top: 1px dotted #CCC;
	height: 50px !important;
}

.timeline-row:last-child {
	border-bottom: 1px dotted #CCC;
}

.timeline-bar {
	background-color: #EEE;
	margin-top: 5px;
	height: 38px;
	border: 1px solid #CCC;
}

#today{
	margin: 0px auto;
	display: block;
	position: absolute;
	width: 3px;
	background-color: #ff0000;
	z-index: 200;
	height: 100%;
}

.icon {
	position: absolute;
	width: 24px !important;
	height: 32px !important;
	margin-top: 3px;
}

.icon-click:hover {
	cursor: pointer !important;
}

.impact-statement-space {
	position: relative;
	height: 19px;
	border-top: 1px solid #CCC;
	z-index: 300;
}

/* Various color classes */
.high-impact-color { background-color:#226655; color: white; }
.medium-impact-color { background-color:#CCDD44; }
.low-impact-color { background-color:#551155; color: white; }
.no-impact-color { background-color:#666666; color: white; }
.blueprint-impact-color { background-color:#6FB6FC; }
.high-impact-color-content { background-color:rgb(171,219,207); }
.medium-impact-color-content { background-color:rgb(235,242,177); }
.low-impact-color-content { background-color:rgb(240,202,235); }
.no-impact-color-content { background-color:rgb(219,219,219); }
.blueprint-impact-color-content { background-color:rgb(209,232,255); }

.first-quarter { background-color: #F5F5F5; }
.second-quarter { background-color: #D6D6D6; }
.third-quarter { background-color: #BDBDBD; }
.fourth-quarter { background-color: #A3A3A3; }
