#controller_container {
    display: flex;
    flex-direction: column;
	width: 95%;
	margin: 0 auto;
}

#text_timeline_container {
	clear: both;
}

select {
	width: auto;
}

label {
    width: 320px;
    display: inline-block;
}

#timeline_container, #region_container, #branch_container {
	width: auto;
	float: left;
    clear: both;
}

#timeline_accordion {
	width: 95%;
	margin: 0 auto;
}

.closed {
	display: none;
}

.accordion {
    margin-left: 0px;
}

.accordion-section {
	margin-bottom: 10px;
}

.accordion-section-title {
	width: 100%;
    display: inline-block;
    border-bottom: 1px solid #1a1a1a;
    text-decoration: none;
    color: black !important;
    font-size: 1.25em;
}

a.accordion-section-title:link,
a.accordion-section-title:visited,
a.accordion-section-title:active {
	text-decoration: none;
	color: black !important;
}

a.accordion-section-title:hover {
	background: #dddddd;
}

a.accordion-section-title span:after {
    content: '\25BA';
}

a.accordion-section-title.toggle span:after {
    content: '\25BC';
}
