.hide {
	display: none !important;
}

.dotted-bottom {
	border-bottom: 1px dotted #ccc !important;
	padding-bottom: 10px !important;
}

#controller_container {
    display: flex;
    flex-direction: column;
	width: 95%;
	margin: 0 auto;
}

#text_timeline_container {
	width: 100%;
}

select {
	width: 100%;
}

label {
    display: inline-block;
}

.text-timeline {
	display: flex;
	flex-direction: column;
}

.impact-statement {
	font-weight: 700;
	line-height: 150%;
	font-size: 120%;
	border: none !important;
	margin-bottom: 10px !important;
	vertical-align: middle;
}

.closed {
	display: none;
}

.accordion-section {
	width: 100%;
	margin-bottom: 10px;
}

.accordion-section-title {
	width: 100%;
    display: inline-block;
    border-bottom: 1px solid #1a1a1a;
    text-decoration: none;
    color: black !important;
    font-size: 1.25em;
}

a.accordion-section-title:link,
a.accordion-section-title:visited,
a.accordion-section-title:active {
	text-decoration: none;
	color: black !important;
}

a.accordion-section-title:hover {
	background: #dddddd;
}

a.accordion-section-title span:after {
    content: '\25BA';
	margin-right: 5px;
}

a.accordion-section-title.toggle span:after {
    content: '\25BC';
	margin-right: 5px;
}

.BP2020 {
	background-color: white;
}