label {
    font-weight:bold;
}

div.form-group{
    padding-top:1.5em;
}

dt {
    font-weight:bold;
    padding-top:1.5em;
}

.no-style {
    font-weight: normal !important;
    margin: 0px;
}

.wide-70 {
    width: 70%;
}