.dotted-bottom {
	border-bottom: 1px dotted #ccc !important;
	padding-bottom: 10px !important;
}

#controller-container {
	
}

#print-button {
	position: absolute;
	top: 65px;
	right: 20px;
}

.hide, #report-front-page {
    display: none;
}

.initiative-title {
	font-size: 1.4em !important;
}

.impact {
	font-size: 1em !important;
}

.timeline-table th:nth-child(1), .timeline-table th:nth-child(3) {
	width: 10%;
}

.timeline-table th:nth-child(2) {
	width: 20%;
}

.timeline-table th:nth-child(4) {
	width: 70%;
}

li p {
	margin: 0 auto !important;
}

@media print {
	table {
		width: 100%;
	}

	#report-front-page {
		display: block;
		margin-top: -13px;
		margin-right: -1px;
		page-break-after: always;
	}

	#report-header-logo {
		width: 100%;
	}

	#report-header-purple {
		margin-top: -10px;
		width: 100%;
	}

	#report-footer {
		width: 100%;
	}

	#report-warning {
		display: block;
	}

	#report-subtitle {
		margin-top: -130px;
		font-size: 1.7em;
		color: #FFFF00 !important;
		text-shadow: 0 0 1px #FFFFFF !important;
		text-indent: 20px;
	}

	#report-title {
		margin-top: -17px;
		font-size: 2.5em;
		color: #FFFF00 !important;
		text-shadow: 0 0 1px #FFFFFF !important;
		text-indent: 20px;
		margin-bottom: 202px;
	}

	#report-more-info {
		margin-top: -190px;
		font-size: 1.7em;
		color: #FFFF00 !important;
		text-shadow: 0 0 1px #FFFFFF !important;
		text-indent: 20px;
		margin-bottom: 202px;
	}

	.timeline, .timeline-table, .unused-initiatives {
		page-break-after: always;
	}

    .initiative {
        page-break-after: always;
        border: 1px solid black;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    .initiative > h3 {
    	border-bottom: 1px dotted #808080;
    }

    .initiative-title {
    	font-size: 1.5em !important;
    }

    .impact {
    	font-size: 1em !important;
    }

    .heading {
    	font-size: 1.4em !important;
    }

    #gcwu-bnr, #gcwu-psnb, #gcwu-bc, #wb-session, #wb-head, #wb-foot {
    	display: none !important;
    }
}
