table {
    width: 100%;
}

.fix-6em {
    width: 6em;
}

.control-group {
    width: 90px;
}

.create-new {
    float: right;
    margin-right: 63px;
}

#dataTableContainer table {
    margin-bottom: 5px;
}

#dataTableContainer input {
    margin-bottom: 0;
}

#dataTableContainer table th {
    background-color: #eee !important;
}

#dataTableContainer table tr.odd {
    background-color: white !important;
}

#dataTableContainer table tr.even {
    background-color: white !important;
}

#dataTableContainer table td.sorting_1 {
    background-color: #f9f9f9 !important;
}

#dataTableContainer table .control-group {
    width: 90px !important;
}

#dataTableContainer .create-new {
    float: right;
    vertical-align: middle;
    margin-right: 45px;
    margin-top: 5px;
}

#dataTableContainer .paginate_button.current {
    background-color: white;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.dataTables_filter {
    float: left;
    text-align: left;
}

.dataTables_info {
    margin-top: 5px;
}

.dataTables_paginate {
    float: left;
    margin-top: 5px;
}

.sorting_disabled {
    cursor: default !important;
}

@media screen 
    and (min-width: 960px)
    and (min-device-width: 1024px) {
    table {
        width: 97%;
    }
    
    #dataTableContainer {
        width: 97%;
        padding: 8px;
    }

    #dataTableContainer table {
        width: 100% !important;
    }
}

#legend {
    float: right;
    margin-right: 2em;
}

#legend img {
    vertical-align: middle;
    margin: 5px;
}

.green-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    background-color: lawngreen;
    vertical-align: middle;
    border: 1px solid grey;
}

.yellow-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    background-color: yellow;
    vertical-align: middle;
    border: 1px solid grey;
}

.red-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    background-color: red;
    vertical-align: middle;
    border: 1px solid grey;
}

.no-link-style, .no-link-style:link, .no-link-style:visited, .no-link-style:hover, .no-link-style:active {
    color: black !important;
    text-decoration: none;
}

i[class*='fa-']:hover {
    color: red;
}

table.dataTable thead th {
    position: relative;
    background-image: none !important;
}
 
table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    margin-left: 1em;
    font-family: FontAwesome;
}

table.dataTable thead th.sorting:after {
    content: "\f0dc";
    color: black;
    font-size: 0.8em;
    padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
    color: red;
    content: "\f0de";
}
table.dataTable thead th.sorting_desc:after {
    color: red;
    content: "\f0dd";
}

table.users th:first-child {
    width: 15%;
}

table.users th:nth-child(2) {
    width: 73%;
}

table.users th:nth-child(3) {
    width: 12%;
}

td.important {
    color: #ff0000;
    font-weight: bold;
}
