table {
    width: 100%;
}

.fix-6em {
    width: 6em;
}

.control-group {
    width: 13em;
}

#dataTableContainer table th {
    background-color: #eee !important;
}

#dataTableContainer table tr.odd {
    background-color: white !important;
}

#dataTableContainer table tr.even {
    background-color: white !important;
}

#dataTableContainer table td.sorting_1 {
    background-color: #f9f9f9 !important;
}

#dataTableContainer table .control-group {
    width: 90px !important;
}

.sorting_disabled {
    cursor: default !important;
}

@media screen 
    and (min-width: 960px)
    and (min-device-width: 1024px) {
    table {
        width: 97%;
    }
    
    #dataTableContainer {
        width: 97%;
        padding: 8px;
    }

    #dataTableContainer table {
        width: 100% !important;
    }
}

#legend {
    float: right;
    margin-right: 2em;
}

#legend img {
    vertical-align: middle;
    margin: 5px;
}

.green-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    background-color: lawngreen;
    vertical-align: middle;
    border: 1px solid grey;
}

.yellow-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    background-color: yellow;
    vertical-align: middle;
    border: 1px solid grey;
}

.red-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    background-color: red;
    vertical-align: middle;
    border: 1px solid grey;
}

.no-link-style, .no-link-style:link, .no-link-style:visited, .no-link-style:hover, .no-link-style:active {
    color: black !important;
    text-decoration: none;
}

i[class*='fa-']:hover {
    color: red;
}