@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}
<!DOCTYPE html>
<!--[if IE 7]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
    wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt -->
    <!-- WET 3.1, PWGSC 1.0 Intranet file: 1col-eng.html -->
    <!-- TitleStart -->
    <title>mySource</title>
    <!-- TitleEnd -->
    <!-- MetadataStart -->
    <meta name="description" content="English description / Description en anglais" />
    <meta name="dcterms.description" content="English description / Description en anglais" />
    <meta name="dcterms.creator" content="English name of the content author / Nom en anglais de l'auteur du contenu" />
    <meta name="dcterms.title" content="English title / Titre en anglais" />
    <meta name="dcterms.issued" title="W3CDTF" content="Date published (YYYY-MM-DD) / Date de publication (AAAA-MM-JJ)" />
    <meta name="dcterms.modified" title="W3CDTF" content="<!--#config timefmt='%Y-%m-%d'--><!--#echo var='LAST_MODIFIED'-->" />
    <meta name="dcterms.subject" title="gccore" content="English subject terms / Termes de sujet en anglais" />
    <meta name="dcterms.language" title="ISO639-2" content="eng" />
    <meta name="keywords" content="English keywords / Mots-clés en anglais" />
    <!-- MetadataEnd -->
    <!--#include virtual="/boew-wet/wet3.1/html5/includes/tete-head.html" -->
</head>

<body>
    <div id="wb-body">
        <div id="wb-skip">
            <ul id="wb-tphp">
                <li id="wb-skip1"><a href="#wb-cont">Skip to main content</a></li>
                <li id="wb-skip2"><a href="#wb-nav">Skip to footer</a></li>
            </ul>
        </div>

        <div id="wb-head">
            <div id="wb-head-in">
                <header>
                    <!-- HeaderStart -->
                    <!--#include virtual="/site/wet3.1/html5/includes/banner_dept-dept_banner-eng.html" -->
                    <!--#include virtual="/site/wet3.1/html5/includes/banner_site-site_banner-eng.html" -->
                    <!-- Add a # before the word include below to enable region support. See other include lines for an example -->
                    <!--include virtual="includes/region/ssi-eng.html" -->

                    <nav role="navigation">
                        <!--#include virtual="/site/wet3.1/html5/includes/nav_mega-mega_nav-eng.html" -->
                        <div id="gcwu-bc">
                            <h2>Breadcrumb trail</h2><div id="gcwu-bc-in">
                                <ol>
                                    <!--#include virtual="/site/wet3.1/html5/includes/pain-bread-eng.html" -->
                                    <!--#include virtual="/site31_intra/includes/pain-bread-section-eng.html" -->
                                </ol>
                            </div>
                        </div>
                    </nav>
                    <!-- HeaderEnd -->
                </header>
            </div>
        </div>

        <div id="wb-core">
            <div id="wb-core-in" class="equalize">
                <div id="wb-main" role="main">
                    <div id="wb-main-in">
                        <!-- Add a # before the word include below to enable the sign in button. See other include lines for an example -->
                        <!--include virtual="/site/wet3.1/html5/includes/os-si-eng.html" -->
                        <!-- MainContentStart -->
                        <h1 id="wb-cont">National Transformation Timeline Tool</h1>

                        <div id="about" class="span-7"></div>
                        <div id="legend" class="span-1"></div>

                        <div class="clear"></div>

                        <div id="leftNav" class="span-1"></div>
                        <div id="areaNav" class="span-3"></div>
                        <div id="branchNav" class="span-3"></div>
                        <div id="rightNav" class="span-1"></div>

                        <div class="clear"></div>

                        <div id="render" class="span-8"></div>
                        <div id="dialog" title="dialog"></div>

                        <!-- EndEditableContent -->
                        <dl id="gcwu-date-mod" role="contentinfo">
                            <dt>Date modified:</dt>
                            <dd><span><time><!--#config timefmt='%Y-%m-%d'--><!--#echo var='LAST_MODIFIED'--></time></span></dd>
                        </dl>
                        <div class="clear"></div>
                        <!-- MainContentEnd -->
                    </div>
                </div>
            </div>
        </div>


        <div id="wb-foot">
            <div id="wb-foot-in">
                <footer>
                    <h2 id="wb-nav">Footer</h2>
                    <!--#include virtual="/site/wet3.1/html5/includes/pied_site-site_footer-eng.html" -->
                </footer>
            </div>
        </div>
    </div>
    <!--#include virtual="/boew-wet/wet3.1/html5/includes/script_pied-script_footer.html" -->
    <!-- CustomScriptsStart -->
    <link rel="stylesheet" href="/Content/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" media="screen,print" href="/Content/master.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/Content/screen.css" />
    <link rel="stylesheet" type="text/css" media="print" href="/Content/print.css" />
    <script src="/Scripts/jquery-ui.min.js"></script>
    <script src="/Scripts/server_settings.js"></script>
    <script src="/Scripts/translation.js"></script>
    <script src="/Scripts/tl_utility.js"></script>
    <script src="/Scripts/will.js"></script>
    <!--	<script src="js/Initiative.js"></script>--->
    <!-- CustomScriptsEnd -->
</body>
</html>
