@{
    if(Culture == "fr")
    {
        Layout = "~/Views/Shared/_IntraLayoutFra.cshtml";
        ViewBag.Title = "Calendrier national des transformations";
    }
    else
    {
        Layout = "~/Views/Shared/_IntraLayout.cshtml";
        ViewBag.Title = "National Transformation Timeline Tool";
    }
}
<h1 id="wb-cont">@ViewBag.Title</h1>
<div id="about" class="span-7"></div>
<div id="legend" class="span-1"></div>

<div class="clear"></div>

<div id="leftNav" class="span-1"></div>
<div id="areaNav" class="span-2"></div>
<div id="branchNav" class="span-4"></div>
<div id="rightNav" class="span-1"></div>

<div class="clear"></div>

<div id="render" class="span-8"></div>
<div id="dialog" title="dialog"></div>


@section Scripts {
<link rel="stylesheet" href="/Content/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" media="screen,print" href="/Content/master.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/Content/screen.css" />
<link rel="stylesheet" type="text/css" media="print" href="/Content/print.css" />
<script src="/Scripts/jquery-ui.min.js"></script>
<script src="/Scripts/server_settings.js"></script>
<script src="/Scripts/translation.js"></script>
<script src="/Scripts/tl_utility.js"></script>
<script src="/Scripts/will.js"></script>

}
<!--	<script src="js/Initiative.js"></script>--->

@Html.Partial("~/Views/Partials/Comments.cshtml")