<!DOCTYPE html>
<!--[if IE 7]><html lang="fr" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="fr" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="fr" class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8" />
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt -->
<!-- WET 3.1, PWGSC 1.0 Intranet file: 1col-fra.html -->
<!-- TitleStart -->
<title>Calendrier national des transformations</title>
<!-- TitleEnd -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- MetadataStart -->
<meta name="description" content="French description / Description en français" />
<meta name="dcterms.description" content="French description / Description en français" />
<meta name="dcterms.creator" content="French name of the content author / Nom en français de l'auteur du contenu" />
<meta name="dcterms.title" content="French title / Titre en français" />
<meta name="dcterms.issued" title="W3CDTF" content="Date published (YYYY-MM-DD) / Date de publication (AAAA-MM-JJ)" />
<meta name="dcterms.modified" title="W3CDTF" content="<!--#config timefmt='%Y-%m-%d'--><!--#echo var='LAST_MODIFIED'-->" />
<meta name="dcterms.subject" title="gccore" content="French subject terms / Termes de sujet en français" />
<meta name="dcterms.language" title="ISO639-2" content="fra" />
<meta name="keywords" content="Mots-clés en anglais / English keywords" />
<!-- MetadataEnd -->

<!-- Start of tete-head.html / Début de tete-head.html -->
<!--[if lte IE 8]>
<script src="/boew-wet/wet3.1/js/jquery-ie.min.js"></script>
<script src="/boew-wet/wet3.1/js/polyfills/html5shiv-min.js"></script>
<link rel="stylesheet" href="/boew-wet/wet3.1/grids/css/util-ie-min.css" />
<link rel="stylesheet" href="/boew-wet/wet3.1/js/css/pe-ap-ie-min.css" />
<link rel="stylesheet" href="/boew-wet/wet3.1/theme-gcwu-intranet/css/theme-ie-min.css" />
<noscript><link rel="stylesheet" href="/boew-wet/wet3.1/theme-gcwu-intranet/css/theme-ns-ie-min.css" /></noscript>
<![endif]-->
<!--[if gt IE 8]><!-->
<script src="/boew-wet/wet3.1/js/jquery.min.js"></script>
<link rel="stylesheet" href="/boew-wet/wet3.1/grids/css/util-min.css" />
<link rel="stylesheet" href="/boew-wet/wet3.1/js/css/pe-ap-min.css" />
<link rel="stylesheet" href="/boew-wet/wet3.1/theme-gcwu-intranet/css/theme-min.css" />
<noscript><link rel="stylesheet" href="/boew-wet/wet3.1/theme-gcwu-intranet/css/theme-ns-min.css" /></noscript>
<!--<![endif]-->

<link rel="shortcut icon" href="/boew-wet/wet3.1/theme-gcwu-intranet/images/favicon.ico" />

<!-- CustomCSSStart -->
<link rel="stylesheet" href="/site/wet3.1/theme-tp-pw-intranet/css/theme-tp-pw-intranet.css" />
<!-- CustomCSSEnd -->

<!-- End of tete-head.html / Fin de tete-head.html -->

</head>

<body><div id="wb-body">
<div id="wb-skip">
<ul id="wb-tphp">
<li id="wb-skip1"><a href="#wb-cont">Passer au contenu principal</a></li>
<li id="wb-skip2"><a href="#wb-nav">Passer au pied de page</a></li>
</ul>
</div>

<div id="wb-head"><div id="wb-head-in"><header>
<!-- HeaderStart -->
<nav role="navigation"><div id="gcwu-gcnb"><h2>Barre de navigation d'intranet</h2><div id="gcwu-gcnb-in">
<div id="gcwu-intranetnb"><div id="gcwu-intranetnb-in">
<ul>
<!-- START DDS SEARCH BOX TEST -->
<li style="padding:1px 0 2px;">
<section role="search">
<div id="cn-dds-box">
<h2>Recherche SAM</h2>
<form action="http://directory.pwgsc.gc.ca/DDS/SourceSearch.aspx?lang=f" accept-charset="iso-8859-1" method="post">
<label for="name">SAM</label>
<input class="cn-dds_srch" name="name" id="name" type="text" placeholder="Trouver un employ&eacute;" maxlength="150" />
<input class="dds_search_input" name="go" alt="Trouver un employ&eacute;" type="image" src="/site/wet3.1/theme-tp-pw-intranet/images/loupes.png" />
</form>
</div>
</section>
</li>
 <!--END DDS SEARCH BOX TEST -->
<li id="gcwu-gcnb1"><a href="http://geds20-sage20.ssc-spc.gc.ca/fr/SAGE20/?pgid=002">SAGE</a></li>
<li id="gcwu-gcnb2"><a href="http://www.tpsgc-pwgsc.gc.ca/comm/index-fra.html">Internet</a></li>
<li id="gcwu-gcnb3"><a href="http://gcintranet.tpsgc-pwgsc.gc.ca/gc/index-fra.html">GCintranet</a></li>
<li id="gcwu-gcnb4"><a href="http://www.tpsgc-pwgsc.gc.ca/remuneration-compensation/index-fra.html">Paye et pension</a></li>
<li id="gcwu-gcnb-lang"><a href="/cgi-bin/language.pl" lang="en">English</a></li>
</ul>
</div></div>
<div id="gcwu-gcnb-fip">
<div id="gcwu-sig"><div id="gcwu-sig-in"><img src="/site/wet3.1/theme-gcwu-intranet/images/sig-fra.gif" alt="Travaux publics et Services gouvernementaux Canada" /></div></div>
<div id="gcwu-wmms"><div id="gcwu-wmms-in"><object data="/boew-wet/wet3.1/theme-gcwu-intranet/images/wmms-intra.svg" role="img" tabindex="-1" aria-label="Symbole du gouvernement du Canada" type="image/svg+xml"><img src="/boew-wet/wet3.1/theme-gcwu-intranet/images/wmms.png" alt="Symbole du gouvernement du Canada" /></object></div></div>
</div></div></div></nav>
<div id="gcwu-bnr" role="banner">
<div id="tp-pw-banner">
<div id="gcwu-bnr-in">
<div id="tp-pw-banner-inner">
<div id="tp-pw-banner-inner2">
<div id="gcwu-title">
<p id="gcwu-title-in"><a href="http://intranet.tpsgc-pwgsc.gc.ca/intranet/index-fra.html">maSource</a></p>
</div>
</div>

<section role="search"><div id="gcwu-srchbx"><h2>Recherche</h2>
<form action="http://rch-sch.tpsgc-pwgsc.gc.ca/s_r" method="get"><div id="gcwu-srchbx-in">
<input type="hidden" name="t3mpl1t34d" value="1" />
<input type="hidden" name="t3mpl1t34d" value="1" />
<input type="hidden" name="s5t34d" value="tpsgcpwgsc" />
<input type="hidden" name="l7c1l3" value="fra" />
<input type="hidden" name="S_08D4T.1ct57n" value="search" />
<input type="hidden" name="S_08D4T.s3rv5c3" value="basic" />
<input type="hidden" name="S_S20RCH.p1r1m3tr5cF53lds" value="service,paudience" />
<input type="hidden" name="S_S20RCH.p1r1m3tr5cS7rt" value="documentcount" />
<input type="hidden" name="S_S20RCH.p1r1m3tr5cQ93ry" value="false" />
<input type="hidden" name="S_m5m3typ3.sp3c5f53r" value="INDEX" />
<input type="hidden" name="S_m5m3typ3.t3xt6p3r1t7r" value="OR" />
<input type="hidden" name="S_m5m3typ3.v1l93" value="" />
<input type="hidden" name="S_S20RCH.l1ng91g3" value="fra" />
<label for="gcwu-srch">Recherchez le site Web</label>
<input id="gcwu-srch" name="S_F8LLT2XT" type="search" value="" size="27" maxlength="150" />
<input id="gcwu-srch-submit" name="gcwu-srch-submit" type="submit" value="Recherche" data-icon="search" />
</div></form>
</div></section>
</div></div>
</div></div>


<nav role="navigation">
<div id="gcwu-psnb"><h2>Menu du site</h2>
<div id="gcwu-psnb-in">
<div class="wet-boew-menubar mb-mega"><div>
<ul class="mb-menu" data-ajax-replace="/site/wet3.1/html5/includes/nav_mega-mega_nav-fra.inc">
<li><div><a href="/intranet/ct-wc/index-fra.html">Centre de travail</a></div></li>
<li><div><a href="/intranet/ce-ec/index-fra.html">Coin des employ&eacute;s</a></div></li>
<li><div><a href="/intranet/nouvelles-news/index-fra.html">Nouvelles</a></div></li>
<li><div><a href="/intranet/collectivites-communities/index-fra.html">Collectivit&eacute;s</a></div></li>
<li><div><a href="/intranet/st-ps/index-fra.html">Services de <abbr title="Travaux publics et Services gouvernementaux Canada">TPSGC</abbr></a></div></li>
<li><div><a href="/intranet/apropos-about/regions-fra.html">R&eacute;gions</a></div></li>
<li><div><a href="/intranet/ressources-resources/index-fra.html">Ressources</a></div></li>
</ul>
</div></div></div></div>

<div id="gcwu-bc"><h2>Fil d'Ariane</h2><div id="gcwu-bc-in">
<ol>
<li><a href="http://intranet.tpsgc-pwgsc.gc.ca/intranet/index-fra.html">maSource</a></li>
<!-- Start of pain-bread-section-fra.html / Début de pain-bread-section-fra.html -->
<li><a href="http://intranet.tpsgc-pwgsc.gc.ca/intranet/ct-wc/transformation/transformation-fra.html">Portail de la transformation</a></li>
<li>@ViewBag.Title</li>
<!-- End of pain-bread-section-fra.html / Fin De pain-bread-section-fra.html -->
</ol>
</div></div>
</nav>
<!-- HeaderEnd -->
</header></div></div>

<div id="wb-core"><div id="wb-core-in" class="equalize">
<div id="wb-main" role="main"><div id="wb-main-in">
<!-- MainContentStart -->
    @RenderBody()
<!-- EndEditableContent -->
<!-- MainContentEnd -->
</div></div>
</div></div>

<div id="wb-foot"><div id="wb-foot-in"><footer><h2 id="wb-nav">Pied de page</h2>
<!-- FooterStart -->
<nav role="navigation">
<div id="gcwu-sft">
<div id="tp-pw-sft">  <!-- DIV REQUIRED FOR FOOTER LINE -->
<h3>Pied de page du site</h3>
<div id="gcwu-sft-in">
<section><div class="span-2"><h4 class="gcwu-col-head"><a href="http://intranet.tpsgc-pwgsc.gc.ca/intranet/apropos-about/index-fra.html">&Agrave; propos de nous</a></h4>
<ul>
  <!--<li><a href="http://intranet.tpsgc-pwgsc.gc.ca/scg-gcs/scg-gcs-fra.html">Gouvernance</a></li>-->
  <li><a href="http://www.canada.ca/fr/gouvernement/ministres/judy-foote.html">Ministre</a></li>
  <li><a href="http://intranet.tpsgc-pwgsc.gc.ca/intranet/apropos-about/org-fra.html">Organisation</a></li>
  <li><a href="http://intranet.tpsgc-pwgsc.gc.ca/intranet/apropos-about/regions-fra.html">R&eacute;gions</a></li>
  <li><a href="http://intranet.tpsgc-pwgsc.gc.ca/intranet/apropos-about/smsmd-dmadm-fra.html">Sous-ministre et Sous-ministre d&eacute;l&eacute;gu&eacute;</a></li>
  <li><a href="http://intranet.tpsgc-pwgsc.gc.ca/ssc-css/index-fra.html">Strat&eacute;gie de service &agrave; la client&egrave;le</a></li>
</ul>
</div></section>
<section><div class="span-2"><h4 class="gcwu-col-head"><a href="http://intranet.tpsgc-pwgsc.gc.ca/intranet/ressources-resources/cn-cu-fra.html">Contactez-nous</a></h4>
<address>
<ul>
  <li><a href="http://intranet.tpsgc-pwgsc.gc.ca/rh-hr/avantages-benefits/remuneration-compensation/index-fra.html">Centre de service de la r&eacute;mun&eacute;ration</a></li>
  <li><a href="http://csti-itsc.tpsgc-pwgsc.gc.ca/accueil-home.aspx?lang=fra">Centre de services <abbr title="technologie de l'information">TI</abbr></a></li>
  <li><a href="http://nscc-cnas.pwgsc-tpsgc.gc.ca/index-fra.cfm">Centre national d'appel de service</a></li>
  <li><a href="http://www.tpsgc-pwgsc.gc.ca/comm/cn-cu-fra.html#liue">Ligne d'information d'urgence pour les employ&eacute;s</a></li>
  <li><a href="http://www.tpsgc-pwgsc.gc.ca/medias-media/rssrcs-cntcts-fra.html">Relations avec les m&eacute;dias</a></li>
  <li><a href="http://intranet.tpsgc-pwgsc.gc.ca/rh-hr/quisommes-whoweare/cnrh-cuhr-fra.html">Ressources humaines</a></li>
  <li><a href="http://btb.gc.ca/btb.php?lang=fra&amp;cont=824">Services de traduction</a></li>
  <li><a href="http://intranet.tpsgc-pwgsc.gc.ca/rh-hr/milieutravail-workplace/travail-labour/sites-fra.html">Syndicats</a></li>
</ul>
</address>
</div></section>
<section><div class="span-2"><h4 class="gcwu-col-head"><a href="http://intranet.tpsgc-pwgsc.gc.ca/intranet/collectivites-communities/rb-sc-fra.html">Restez branch&eacute;s</a></h4>
<ul>
<li><a href="https://www.flickr.com/photos/tpsgcanada/albums">Flickr</a></li>
<li><a href="http://gcconnex.gc.ca/">GCconnex</a></li>
<!--<li><a href="http://www.gcforums.gc.ca/default.aspx?l=f">GCForums</a></li>-->
<li><a href="http://www.gcpedia.gc.ca/gcwiki/index.php?title=Main%20Page&amp;setlang=fr&amp;uselang=fr">GCPedia</a></li>
<li><a href="https://www.linkedin.com/company/pwgsc" lang="en">LinkedIn</a></li>
<li><a href="https://twitter.com/TPSGC_PWGSC">Twitter</a></li>
</ul>
</div></section>
<section><div class="span-2"><h4 class="gcwu-col-head"><a href="http://intranet.tpsgc-pwgsc.gc.ca/intranet/ressources-resources/politiques-policies-fra.html">Politiques</a></h4>
<ul>
  <li><a href="http://intranet.tpsgc-pwgsc.gc.ca/ppc/secteurs-sectors/smai-msai-fra.html#aiprp">Acc&egrave;s &agrave; l'information et protection des renseignements personnels</a></li>
  <li><a href="http://intranet.tpsgc-pwgsc.gc.ca/rh-hr/milieutravail-workplace/val-eth/code-cond-fra.html">Code de conduite</a></li>
  <li><a href="http://www.tbs-sct.gc.ca/pol/index-fra.aspx">Conseil du Tr&eacute;sor</a></li>
  <li><a href="http://intranet.tpsgc-pwgsc.gc.ca/rh-hr/milieutravail-workplace/languages/lo-ol-fra.html">Langues officielles</a></li>
  <li><a href="http://gcintranet.tpsgc-pwgsc.gc.ca/ipm-dpi/index-fra.html">Politiques minist&eacute;rielles</a></li>
  <li><a href="http://intranet.tpsgc-pwgsc.gc.ca/rh-hr/milieutravail-workplace/val-eth/index-fra.html">Valeurs et &eacute;thique</a></li>
</ul>
</div></section>
<div id="gcwu-tctr">
<ul>
<li class="gcwu-tc"><a href="http://intranet.tpsgc-pwgsc.gc.ca/intranet/avis-terms-fra.html" rel="license">Avis</a></li>
<li class="gcwu-tr"><a href="http://intranet.tpsgc-pwgsc.gc.ca/intranet/transparence-transparency-fra.html">Transparence</a></li>
</ul>
</div>
</div>
</div>
</div></nav>
<!-- End of pied_site-site_footer-fra.html / Fin De pied_site-site_footer-fra.html -->
<!-- FooterEnd -->
</footer>
</div></div></div>

<!-- ScriptsStart -->
<!-- Start of script_pied-script_footer.html / Début de script_pied-script_footer.html -->
<script src="/boew-wet/wet3.1/js/settings.js"></script>
<!--[if lte IE 8]>
<script src="/boew-wet/wet3.1/theme-gcwu-intranet/js/theme-ie-min.js"></script>
<script src="/boew-wet/wet3.1/js/pe-ap-ie-min.js"></script>
<script src="/boew-wet/wet3.1/js/jquerymobile/jquery.mobile-ie.min.js"></script>
<![endif]-->
<!--[if gt IE 8]><!-->
<script src="/boew-wet/wet3.1/theme-gcwu-intranet/js/theme-min.js"></script>
<script src="/boew-wet/wet3.1/js/pe-ap-min.js"></script>
<script src="/boew-wet/wet3.1/js/jquerymobile/jquery.mobile.min.js"></script>
<!--<![endif]-->

<!-- CustomScriptsStart -->
        @RenderSection("scripts", required: false)
<!-- CustomScriptsEnd -->
<!-- End of script_pied-script_footer.html / Fin De script_pied-script_footer.html -->
<!-- ScriptsEnd -->

</body>
</html>