<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Development</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://win-atl-v001.ncr.pwgsc.gc.ca:8200/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>win-atl-v001.ncr.pwgsc.gc.ca</MSDeployServiceURL>
    <DeployIisAppPath>PAC-TT</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>pacdev</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TimelineContext" Order="1" Enabled="True">
          <Destination Path="Data Source=win-atl-v003.ncr.pwgsc.gc.ca;Initial Catalog=pac_tt;Persist Security Info=True;User ID=pactt_user;Password=fRUr4catUp" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TransformationTimelineTool.DAL.TimelineContext, TransformationTimelineTool" MigrationConfiguration="TransformationTimelineTool.Migrations.Configuration, TransformationTimelineTool" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TimelineContext-Web.config Connection String">
      <ParameterValue>Data Source=win-atl-v003.ncr.pwgsc.gc.ca;Initial Catalog=pac_tt;Persist Security Info=True;User ID=pactt_user;Password=fRUr4catUp</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>